body {
    background: linear-gradient(180deg, #ECD587, #645A39);
    height: 1000px;
}
button {
    background-color: #86794D;
    color: #ECD587;
    border-color: #ECD587;
}
button:active {
    background-color: #ECD587;
    color: #86794D;
}
h1, p, h2 {
    color: #645A39;
}
main {
    text-align: center;
    margin: auto;
}
